@font-face {
  font-family: VanrottDestroy;
  src: url("VanrottDestroy-Rpv06.otf");
}

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right bottom,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60%;
  margin: 5rem 0;
  position: relative;
}

button {
  cursor: pointer;
}

.player {
  background: rgba(77, 92, 182, 0.7);
  padding: 2rem 3rem;
  max-width: 50%;
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}
#p1 {
  border-radius: 5% 0 0 5%;
}
#p2 {
  border-radius: 0 5% 5% 0;
}

.active {
  background: rgba(144, 176, 235, 0.7);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn {
  position: absolute;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 1vh 2vh;
  opacity: 0.8;
}

#btn-dice {
  top: 35vh;
}

#btn-hold {
  top: 50vh;
}

.score {
  margin: 7vh auto;
  font-size: 8vh;
  font-weight: bold;

  color: rgba(62, 0, 87, 0.7);
}

.currscore {
  margin: 7vh auto;
  font-size: 3vh;
  background: rgba(200, 100, 100, 0.7);
  padding: 2vh;
  border-radius: 10px;
}

span {
  display: block;
  text-align: center;
  margin: 1vh 0 0 0;
}

.name {
  text-align: center;
  font-family: Righteous, "Permanent Marker", sans-serif;
  border-bottom: 2px solid black;
  padding: 1rem;
}

.dice {
  position: absolute;
  top: 20vh;
  font-size: 5vh;
}

@keyframes move {
  50% {
    transform: translateY(-1vh);
  }
}

@-webkit-keyframes move {
  50% {
    transform: translateY(-1vh);
  }
}

.fa-angle-double-down {
  animation: move 1s linear;
  -webkit-animation: move 500ms linear infinite;
  position: absolute;
  left: 50%;
  top: -9vh;
  margin: 0 auto;
}

@keyframes disappear {
  100% {
    opacity: 0;
  }
}

.invisible {
  animation: disappear 500ms linear forwards;
}

.hidden {
  display: none;
}

.overlay {
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.start-msg {
  transition: 1s;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 0;

  transform: translateX(-50%);

  max-width: 90%;
  width: 70%;
  height: max-content;

  background: black;
  color: white;
  border-radius: 10px;
  padding: 1rem 1rem;
  margin-top: 2rem;
  font-family: comfortaa;
  font-size: 1.2rem;
}

.heading {
  text-align: center;
  font-family: VanrottDestroy, sans-serif;
  border-bottom: 2px solid white;
  padding: 1rem;
}

p {
  padding: 1rem 0 1rem 0;
  font-family: comfortaa;
}

.btn-start {
  font-family: comfortaa;
  display: block;
  width: 10rem;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to right, #7135a3, #4c70b3, #7135a3);
  background-size: 200% auto;
  transition: 0.5s;
  margin: 0 auto;
  outline: none;
  font-weight: bold;
}

.btn-start:active {
  border: 1px solid white;
}

.btn-start:hover {
  background-position: right center;
}

input {
  display: inline;
  position: relative;
  border: none;
  border-bottom: 2px solid;
  width: 40%;
  margin: 0 3vh 3vh 3vh;
  outline: none;
  transition: 0.2s ease;
  font-family: Raleway;
  font-size: 1.2rem;
  background: black;
  color: white;
}

input:focus {
  border-bottom-width: 3px;
  border-bottom-color: blue;
}

@keyframes roll {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes roll {
  100% {
    transform: rotate(360deg);
  }
}

.rolling {
  animation: roll 0.5s linear 2;
  -webkit-animation: roll 0.5s linear 2;
}

.winner {
  color: purple;
  position: absolute;
  left: 50%;
  top: -8vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
}
